:root{
    --primario: #375E97;
    --primarioOscuro: #284B7F;
    --secundario: #ffce00;
    --secundarioOscuro: rgb(233, 187, 2);
    --blanco: #fff;
    --negro: #000;

    --fuentePrincipal: 'Staatliches', cursive;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/* globales */
body{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}
p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
h1,h2,h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.4rem;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
/* navegacion */
.header{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}
/* navegacion */
.nav{
    background-color: var(--primarioOscuro);
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}
.nav__enlace{
    color: var(--blanco);
    padding: 1rem 0;
    font-family: var(--fuentePrincipal);
    font-size: 3rem;
}
.nav__enlace--activo,.nav__enlace:hover{
    color: var(--secundario);
}
/* main */
.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
@media(min-width: 768px){
    .grid{
        grid-template-columns: repeat(3,1fr);
    }
}
.tarjeta{
    background-color: var(--primarioOscuro);
    padding: 1rem;
}
.tarjeta__img{
    width: 100%;    
}
.tarjeta__nombre,
.tarjeta__precio{
    font-family: var(--fuentePrincipal);
    text-align: center;
    margin: 1rem 0;
    line-height: 1.2;
}
.tarjeta__nombre{
    font-size: 4rem;
}
.tarjeta__precio{
    font-size: 2.8rem;
    color: var(--secundario);
}
.grafico{
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
}
.grafico--camisas{
    grid-row: 2/3;
    background-image: url(/img/grafico1.jpg);
}
.grafico--node{
    grid-row: 8/9;
    background-image: url(/img/grafico2.jpg);
}
@media(min-width: 768px){
    .grafico--node{
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}
/* footer */
.footer{
    margin: 2rem 0 1.5rem 0;
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}
.footer__enlace{
    font-family: var(--fuentePrincipal);
    font-size: 1.4rem;
    color: var(--blanco);
    padding: 1rem 0;
}
@media(min-width: 768px){
    .footer__enlace{
        font-size: 2.4rem;
    }
}
/* Pag Nosotros */
/* main */
.nosotros__img--foto{
    width: 100%;
}
@media(min-width: 768px){
    .nosotros{
        display: grid;
        grid-template-columns: repeat(2,auto);
        gap: 2rem;
    }
    .nosotros__info{
        grid-column: 1/2;
    }
    .nosotros__img{
        grid-column: 2/3;
        grid-row: 1/2;
    }
}
.comprar{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.comprar__tarjeta{
    text-align: center;
}

@media(min-width: 768px){
    .comprar{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
}